.resident-wrap {
    @media screen and (min-width: 62rem) {
        padding: 0 15px 0 15px;
    }
}

.resident-text {
    padding: 30px 15px;
    h2 {
        margin-bottom: 30px;
        @media screen and (min-width: 62rem) {
            margin-bottom: 15px;
        }
    }
    .left-hr {
        @include left-hr;
        background: $light-blue;
        top: 36%;
        @media screen and (min-width: 40rem) {
            top: 46%;
        }
        @media screen and (min-width: 62rem) {
            position: static;
        }
    }
    p {
        padding-left: 15px;
        @media screen and (min-width: 62rem) {
            margin-top: 15px;
            margin-bottom: 30px;
        }
    }
}

.pop-growth-wrap {
    background: $dark-blue;
    padding: 30px 15px 5px 15px;
    margin-bottom: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .3);
    img {
        width: 100%;
        margin-bottom: 15px;
    }
    span {
        text-transform: none;
        font-size: 0.75rem;
    }
}

.age-wrap {
    background: $dark-blue;
    padding: 30px 15px 5px 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .3);
    .median-age {
        text-align: center;
        & > span:first-child {
            font-size: 1.5rem;
            font-weight: 400;
            text-transform: none;
        }
        & > span:last-child {
            font-size: 0.75rem;
            text-transform: none;
            float: left;
        }
    }
    .age-stats {
        display: flex;
        margin-bottom: 15px;
        span {
            font-size: 2rem;
            font-weight: 400;
        }
    }
    .ldn,
    .can {
        flex-grow: 1;
    }
    @media screen and (min-width: 62rem) {
        padding: 15px 15px 5px 15px;
        position: absolute;
        .median-age {
            width: 100%;
        }
    }
}

.why-quote-wrap {
    background: $light-blue;
    padding: 30px 15px;
    margin-top: 30px;
    text-align: center;
    @media screen and (min-width: 62rem) {
        padding: 0;
        height: 60px;
        margin-top: 120px;
        .why-quote {
            position: absolute;
            z-index: 99;
            padding: 30px 15px;
            background: $light-blue;
            box-shadow: 0 10px 30px rgba(0, 0, 0, .3);
        }
    }
}